<main class="">
  <section class="hero-section" id="section1">
    <div class="hero-div">
      <img src="assets/creatives/wholecuts/Hero.png" alt="Wholecut Oxford" height="576" width="1200">
      <div>
        <hr class="line1">
        <span>Premium Italian Leather</span>
        <hr class="line2">
        <span>Custom Engraving</span>
        <hr class="line3">
        <span>Blake Stitch</span>
      </div>
      <header>
        <div>
          <p><span>Gentlemen's Order</span> x <span>Andrea Buiatti</span></p>
          <h1>LIMITED-EDITION <br> ITALIAN OXFORDS</h1>
          <p class="hero-subheader">Handmade with precision, crafted for sophistication</p>
        </div>
      </header>
      <button type="button" class="btn btn-primary" (click)="scrollToCTA()">GET OFFER</button>
    </div>
  </section>
  <section class="description-section" id="section2">
    <picture>
      <img src="assets/creatives/wholecuts/Description-section.png" alt="Wholecut Oxfords with Shoe Trees">
    </picture>
    <div>
      <span class="limited-time">AVAILABLE NOW, FOR A LIMITED TIME</span>
      <h2>Step into Confidence, <br>One Bespoke Pair at a Time</h2>
      <p> Every <b>Gentleman</b> deserves footwear of the highest quality. <br> <br> And because I believe that quality
        and elegance are born in Italy, the <b>Gentlemen's Order</b> has proudly partnered up with the renowned Italian
        shoemaker <b>Andrea Buiatti</b> to bring you this <b>limited edition</b> collection of Wholecut Oxfords.
        <br><br> Now you can finally walk into any room, knowing that <b>you belong</b>.
      </p>
      <div class="features">
        <div>
          <img src="assets/creatives/wholecuts/description-1.png" alt="shoe brush">
          <span>Premium Italian Leather</span>
        </div>
        <div>
          <img src="assets/creatives/wholecuts/description-2.png" alt="shoe cream">
          <span>Handcrafted With Care</span>
        </div>
        <div>
          <img src="assets/creatives/wholecuts/description-3.png" alt="handcrafted">
          <span>Bespoke Engraving</span>
        </div>
      </div>
    </div>
  </section>
  <section class="services-section" id="section3">
    <br>
    <h2>Our Colors</h2>
    <div class="available-colors">
      <div class="image-wrapper black">
        <img src="assets/creatives/wholecuts/color-black.png" alt="black shoes">
        <span class="black-text">NERO</span>
        <span class="black-undertext">NERO</span>
      </div>
      <div class="image-wrapper brown">
        <img src="assets/creatives/wholecuts/color-brown.png" alt="brown shoes">
        <span class="brown-text">CIOCCOLATO</span>
        <span class="brown-undertext">CIOCCOLATO</span>
      </div>
      <div class="image-wrapper blue">
        <img src="assets/creatives/wholecuts/color-blue.png" alt="blue shoes">
        <span class="blue-text">AVIO</span>
        <span class="blue-undertext">AVIO</span>
      </div>
    </div>
  </section>
  <section class="CTA-1" id="section4">
    <button (click)="scrollToCTA()">
      <span class="button-header">I'M CONVINCED!</span>
      <span class="button-subheader">I WANT A PAIR</span>
    </button>
  </section>
  <section class="about-1" id="section5">
    <picture>
      <img src="assets/creatives/wholecuts/Andrea-Buiatti.avif" alt="Andrea Buiatti">
    </picture>
    <div>
      <span>ITALIAN SHOEMAKER</span>
      <h2>Andrea Buiatti</h2>
      <p> Andrea Buiatti is a 29-year-old shoe designer from Italy with a solid background in the footwear industry.
        His journey began in an Italian footwear and accessory company, where he worked as a CAD technician
        and designer. <br><br>During this time, he collaborated closely with stylists and shoe factories, gaining
        practical experience in the design and manufacturing processes.
        In 2018, he successfully completed his training as a pattern maker at the prestigious Politecnico Calzaturiero
        of Padua.<br><br>In November 2022, he took a significant step in his career by opening his own Showroom in
        Udine. This showroom serves as a dedicated space where he presents his meticulously crafted designs. Combining
        contemporary aesthetics with craftsmanship, he strive to offer unique and captivating footwear collections that
        resonate with discerning customers.
      </p>
    </div>
  </section>
  <section class="about-2" id="section6">
    <div>
      <span>MENS'S STYLE EXPERT</span>
      <h2>Stefan Dobrescu</h2>
      <p>Stefan is a dedicated style consultant and content creator with a profound passion for masculine, elegant
        style. Over the years, Stefan has established himself well online and has over 80000 followers on Instagram and
        2000 subscribers on YouTube, where he provides advice and inspiration on how to look stylish under the brand
        name Gentlemen's Order.
        <br><br>His journey began with a mission to help others discover the transformative power of dressing well.
        From the very start, Stefan has started working closely with a wide range of clients and has helped countless
        people refine their wardrobes, boost their self confidence, and learn how to embrace their unique styles.
        <br><br>With an eye for detail and a deep appreciation for craftsmanship, Stefan is now collaborating with
        renowned Italian shoemaker Andrea Buiatti, to provide a curated collection of footwear that will make
        the wearer look and feel like "the man".
      </p>
    </div>
    <picture>
      <img src="assets/creatives/wholecuts/Stefan.JPG" alt="Andrea Buiatti">
    </picture>
  </section>
  <section class="testimonial-section" id="section7">
    <h2>Here's what others are saying...</h2>
    <div>
      <div>
        <picture>
          <img src="assets/creatives/wholecuts/testimonial-1.png" alt="Client1">
        </picture>
        <span class="name">DONALD</span>
        <span>“Your guidance and expertise have truly transformed my wardrobe and boosted my confidence
          in ways I never would have thought possible.”
        </span>
      </div>
      <div>
        <picture>
          <img src="assets/creatives/wholecuts/testimonial-2.png" alt="Client1">
        </picture>
        <span class="name">IGOR</span>
        <span>"I'm really happy with the results after using advice from him. His goal is to improve a whole society,
          that's something we need in this world."
        </span>
      </div>
      <div>
        <picture>
          <img src="assets/creatives/wholecuts/testimonial-3.png" alt="Client1">
        </picture>
        <span class="name">CHINMAY</span>
        <span>"Just wanted to say that you have really inspired and changed me. I'm glad that I can dress even better
          because of you. Thank you so much!"
        </span>
      </div>
    </div>
  </section>
  <section class="CTA-2" id="section8" #section8>
    <div>
      <span>LIMITED EDITION COLLECTION</span>
      <h2>ITALIAN MADE <br>WHOLECUT OXFORDS</h2>
      <p>Get in contact with us now, before the stock runs out!</p>
      <button (click)="goToOffer()">
        <span class="button-header">GET YOUR PAIR NOW</span>
        <span class="button-subheader">Limited Stock Remaining</span>
      </button>
    </div>
    <picture>
      <img src="assets/creatives/wholecuts/shoe-2.jpg" alt="Shoes">
    </picture>
  </section>
  <section class="showcase-section" id="section9" #section9>
    <picture>
      <img src="assets/creatives/wholecuts/shoe.jpg" alt="Shoes">
    </picture>
    <span>GENTLEMEN'S ORDER X ANDREA BUIATTI</span>
  </section>
</main>
